<section id="hero" class="mt-24 w-full">
  <div class="max-w-[85rem] w-full h-full mx-auto my-auto p-4">
    <!-- 2 col section on desktop-->
    <div class="flex-col md:flex md:flex-row w-full justify-center md:justify-around">
      <!--Copywriter intro block-->
      <div class="flex justify-center items-center w-full md:w-1/2">
        <div class="hidden lg:flex min-w-fit">
          <%= image_tag("svg456.svg", style: "width: 225px; height: 231px;", alt: "copywriter illustration") %>
        </div>
        <div class="lg:ms-3">
          <h1 class="text-6xl pb-4 sm:px-2">
            Copywriter
          </h1>
          <span class="text-2xl ps-1 sm:px-2">
            Writing WORDS that SELL!
          </span>
          <div class="bg-green-200 p-2">
            <p class="py-2 mb-2">
              What write copy that sells like toilet paper in a pandemic. Could you be our next success story?
            </p>
            <%= link_to "LKM Creative", "https://www.lkmcreative.com", target: "_blank", rel: "alternate", class: "p-2 font-bold bg-[#faff00] rounded-e-full" %>
            <p class="py-2 mt-2">
              Changing the way companies grow forever. Gone are the days of working with old-school agencies with outdated mindsets and slow processes.
            </p>
          </div>
        </div>
      </div>
      <!-- Founder image / intro -->
      <div class="flex-col w-full md:w-1/2 justify-center items-center">
        <div class="w-80 mx-auto">
          <h2 class="text-3xl font-semibold w-full text-end py-4">
            Lauren Gouws
          </h2>
        </div>
        <div class="flex w-80 mx-auto">
          <div class="w-full">
            <%= image_tag("frame9.png", style: "width: 185px; height: 185px;", alt: "founder image") %>
          </div>
          <p class="w-48 ms-2">
            10 years. 13,000 clients. Lauren is a passionate wordsmith and Entrepreneur cover girl.
          </p>
        </div>
        <div class="flex justify-end -mt-8 w-80 mx-auto">
            <%= image_tag("star-press.svg", style: "width: 311px; height: 212px;", alt: "Stop the Press") %>
          </div>
      </div>
    </div>
  </div>
</section>
<section id="" class="w-full">
  <div class="max-w-[85rem] w-full h-full mx-auto my-auto p-4">
    <!-- link block for info / service-->
    <div class=" ms-8 py-2">
      <div class="flex w-full">
        <div class="flex flex-col">
          <h3 class="text-xl font-medium">Learn More -</h3>
          <span class="ms-16">Xtra, Xtra. Read all about it.</span>
        </div>
        <div class="flex items-center ms-24">
          <%= image_tag("bluediamond.svg", style: "width: 30px; height: 30px;", alt: "blue diamond illustration") %>
        </div>
      </div>
    </div>
    <div class="ms-16 py-2">
      <div class="flex w-full">
        <div class="flex flex-col">
          <h3 class="text-xl font-medium">The Team -</h3>
          <span class="ms-24">Who is that you want working with you.</span>
        </div>
        <div class="flex items-center ms-24">
          <%= image_tag("redcircle.svg", style: "width: 30px; height: 30px;", alt: "red circle illustration") %>
        </div>
      </div>
    </div>
    <div class="ms-24 py-2">
      <div class="flex w-full">
        <div class="flex flex-col">
          <h3 class="text-xl font-medium">Order on Fiverr -</h3>
          <span class="ms-32">You deserve professional, secure and perfect.</span>
        </div>
        <div class="flex items-center ms-24">
          <%= image_tag("purpledodad.svg", style: "width: 30px; height: 30px;", alt: "purple polygon illustration") %>
        </div>
      </div>
    </div>
  </div>
</section>
